*{
    font-size: 18 px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header, footer{
    background-color: #1f2937;
    display: block;
    margin: -10px -10px 0;
}

.navigation{
    display: flex;
    margin: 0 200px;
}

.navigation img{
    flex: 0 1 0;
    max-width: 120px;
    box-sizing: border-box;
    padding: 20px;
}

.navigation ul{
    display: flex;
    flex: 1;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

.navigation li{
    margin: 0 10px;
}
.navigation li a{
    color: #E5E7EB;
    text-decoration: none;
   
}

.hero{
    color: #E5E7EB;
    background-color: #1f2937;
    margin: -10px -10px 10px;
    display: flex;
}

.media-object{
    display: flex;
    margin: 0 200px;
    padding: 20px 0 64px 0;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.media-object .content{
    flex: 1;
}
.media-object img{
    max-width: 300px;
    flex: 0 1 auto;
}

.media-object .content h1{
    font-size: 48px;
    text-emphasis: 100;
}

.media-object button{
    margin-top: 10px;
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 12px 28px;
    border-radius: 12px;
}

.information h1{
    text-align: center;
    margin: 40px 0;;
}

.image-container{
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-bottom: 80px;;
}

.shoe-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shoe-display img{
    width: 150px;
    border: 4px #3882f6 solid;
    border-radius: 12px;
    padding: 0;
}

.shoe-display .shoe-content{
    width: 150px;
    flex: 1;
    text-align: center;
    color: #1f2937;
}

.quote-container{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 70px;
}

.quote{
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    max-width: 792px;
    text-align: center;
    align-self: center;
    margin-bottom: 0px;;
}

.quote-speaker{
    max-width: 792px;
    margin-top: 0px;;
    font-size: 24px;
    font-weight: 900;
    width: 792px;
    
    text-align: right;
    align-self: center;
}

.cta-container{
    display: flex;
    flex-direction: column;
    padding: 80px 160px;
    align-items: center;
}

.cta{
    display: flex;
    box-sizing: border-box;
    padding: 20px 40px;
    background-color: #3882f6;
    border-radius: 12px;
    width: 840px;
    justify-content:space-evenly;
}

.cta-button{ 
    align-self: center;
    justify-self: center;

}
.cta button{ 
    background-color: #3882f6;
    border-radius: 12px;
    border: 2px #e5e7eb solid;
    padding: 8px 16px;
    color: #E5E7EB;
}

.cta-content{
    max-width: 420px;
    color:#e5e7eb;
}

.cta-content-heading{
    font-size: 18px;
    color:#e5e7eb;
    font-weight: 700;
    margin-bottom: 0;
}

.cta-content-writeup{
    font-weight: 400; 
    margin-top: 0;
    font-size: 12px;
}

footer{
    color: #E5E7EB;
    padding: 30px 40px;
    margin-bottom: -10px;
}

footer p{
    text-align: center;
}